<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <title>BestCourse</title>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <% if (user) { %>
        <% include ../partials/add-btn.ejs %>
    <% } %>
    <% include functions.ejs %>
    <main>
        <div class="container">
            <br>
            <br>
            <form id="searchForm" method="GET">
                <!-- Search form -->
                <div class="md-form">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search" id="search">
                </div>
            </form>
            <h1>Courses</h1>
            <div class="row">
                <% if (courses.length == 0) { %>
                    <p>No Courses Found</p>
                <% } else if (courses.length >= 0) { %>
                    <% courses.forEach(function(course) { %>
                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image">
                                    <% if (user) { %>
                                        <%- editIcon(course.user._id, user.id, course._id) %>
                                    <% } %>
                                </div>
                                <div class="card-content center-align">
                                    <h5><%= course.title %></h5>
                                    <h6>(<%= course.type %>)</h6>
                                    <br>
                                    <p class="course-text"><%= truncate(stripTags(course.description), 150) %></p>
                                    <div id="<%=course._id%>"></div>
                                    <br>
                                    <div class="chip">
                                        <img src="<%= course.user.image %>">
                                        <a href="/course/user/<%=course.user._id%>"><%= course.user.firstName %> <%= course.user.lastName %></a>
                                    </div>
                                </div>
                                <div class="card-action center-align">
                                    <a class="btn grey" href="/course/show/<%=course._id%>">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
            <% if (courses.length == 15) { %>
                <a href="/course/?page=<%=lastIndex%>&search=<%=searchWord%>" class="next">Next &raquo;</a>
            <% } %>
        </div>
    </main>
    <% include ../partials/footer.ejs %>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $(document).ready(() => {
            $('.button-collapse').sideNav();
            $("#search").change(function() {
                $('#searchForm').attr('action', '/course/?search='+document.getElementById("search").value + '&page=0');
            })
            <% courses.forEach(function(course){ %>
                $(function () {
                    $("#<%=course._id%>").rateYo({ rating: parseInt("<%= Math.round(course.rate * 10) / 10 %>") })
                })
            <% }) %>
        });
    </script>
</body>

</html>